* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: Oswald, sans-serif;
}
body {
  background-color: rgb(227, 225, 221);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
main {
  height: 97vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#calculator {
  background-color: #606c38;
  height: 675px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

#calculator > #screen {
  background-color: #fefae0;
  width: 480px;
  height: 22%;
}
